h2{
    color: #0059ff;
}
marquee{
color: #ff0000;
}

nav{
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    border-radius: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 4px #000000;

}

nav a{
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    color:#000000;
    cursor: pointer;

}

nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1){
    width: 135px;
}
a:nth-child(2){
    width: 130px;
}
a:nth-child(3){
    width:160px;
}
a:nth-child(4){
    width:150px;
}

